<div class= 'splash'>
  <h1 class= 'title grey'>My Budget</h1>
  <div class= 'login-signup'>
    <%= link_to 'LOG IN', new_user_session_path, class: 'splash-login' %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: 'splash-signup' %>
  </div>
</div>