<div id="<%= dom_id bill %>" class= 'bills-list'>
  <div class= 'bill-icon'>
    <p><%= bill.icon %></p>
  </div>

  <div class= 'flex-column'>
    <p class= 'text2'><%= bill.name %></p>
    <p class= 'time'><%= bill.created_at.strftime("%d %B %Y") %></p>
  </div>

  <div class= 'bill-total'>
    <p class= 'grey'>&dollar;23</p>
  </div>

</div>
