<div id="<%= dom_id bill %>">
  <p>
    <strong>Name:</strong>
    <%= bill.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= bill.icon %>
  </p>

  <p>
    <strong>User:</strong>
    <%= bill.user_id %>
  </p>

</div>
