/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background-color: whitesmoke;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.padding {
  padding: 10px;
}

.blue {
  color: #3778C2
}

.green {
  color: #5FB523
}

.grey {
  color: #434B54
}

.text1 {
  color: #666b72
}

.text2 {
  color: #94989c
}

.background {
  color: #e3e7eb;
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3778C2;
  color: white;
  padding-left: 10px;
}

.login-fields {
  background-color: white;
  margin-top: 10px;
}

.login-field {
  background-color: none;
  border: none;
  border-bottom: 1px solid #666b72;
  padding-top: 10px;
}

.input-field {
  background-color: none;
  border: none;
  width: 100vw;
}

.input-field:focus {
  outline: none;
  box-shadow: none;
}

.forgot-pass {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding-top: 10px;
}

.submit-button {
  background: none;
  border: none;
  color: white;
}
